:root {
  --base: rgb(16, 48, 86);
  --main-text: rgb(248, 248, 248);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--base);
  color: var(--main-text);
}

h1 {
  margin: 20px 0 10px 40px;
  font-size: 60px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: flex-end;
}

.nav li {
  margin: 20px 100px 8px 0;
  font-size: 25px;
}

section {
  background-color: var(--main-text);
  color: var(--base);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section-header {
  width: 20%;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.my-pic {
  width: auto;
  height: 400px;
  margin: 0;
}

.bio {
  width: 50%;
  text-align: center;
  margin: 0 20px 0 40px;
}

@media screen and (max-width: 768px) {
  header,
  .nav,
  section {
    flex-direction: column;
  }
  .section-header {
    height: fit-content;
    background-color: var(--main-text);
  }
}
